JWT_SCRECT=
CRYPTO_KEY=
CRYPTO_ALGO=
DATABASENAME=
USERNAME=
PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
SERVERLESS=
BASE_URL=
BASE_USERNAME=
BASE_PASSWORD=
RAZORPAY_ID_TEST=
RAZORPAY_SECRET_TEST=
RAZORPAY_ID=
RAZORPAY_SECRET=
SHIPROCKET_LOGIN=
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
PICKUP_POSTCODE=
SHIPROCKET_SERVICE=
PAYMENT_VERIFY_SECRET=
ORDER_CREATION=
AWB_CODE=